<!DOCTYPE html>
<html lang="pt-BR">

<head>

  {{>head}}

  <title>Projeto Hilbert - Desafio: {{desafio.name}}</title>
</head>

<body>
  
  <!-- CONTAINER -->
  <div class="container vh-100">
    
    {{>header}}
    
    <!-- MAIN -->
    <main class="row no-gutters row-main">
      <div class="row no-gutters align-items-center justify-content-center w-100">
        <div class="col-12 col-md-10">
          
          {{>userInfo}}

          <!-- DESAFIO -->
          <div class="card rounded-0 border-0 w-100 bg-transparent mb-2">

            <div class="card-header rounded-0 bg-dark text-light border-0 h5">
              <ul class="nav justify-content-between">
                <li class="nav-item p-0">
                  <p class="text-light px-0 py-2 my-0">Desafio <strong>"{{desafio.name}}"</strong></p>
                </li>
                <li class="nav-item">
                  <a class="nav-link active px-0" href="/inicio">Voltar</a>
                </li>
              </ul>
            </div>

            <ul class="list-group list-group-flush">

              <li class="list-group-item pt-0 pb-3 px-3 bg-dark border-0">
                <div class="card rounded-0 border-dark border-bottom-0 w-100 pb-3 mb-3">
                  {{#if desafio.completed}}
                  <div class="card-header rounded-0 bg-success text-light border-dark">
                  {{else}}
                  <div class="card-header rounded-0 bg-danger text-light border-dark">
                  {{/if}}
                    <strong>{{desafio.name}}</strong>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item border-0">

                      <p style="min-height: 150px;">
                        {{desafio.description}}
                      </p>
                      
                      <div class="d-flex d-sm-none">
                        <div class="btn-group-vertical mx-auto w-50" role="group">
                          {{#if desafio.completed}}
                          <a type="button" class="btn btn-success disabled" href="">Concluir</a>
                          <a type="button" class="btn btn-warning" href="/recompensa?id={{desafio.recompensa}}">Recompensa</a>
                          <a type="button" class="btn btn-danger" href="/desafio/cancelar?id={{desafio.id}}">Cancelar</a>
                          {{else}}
                          <a type="button" class="btn btn-success" href="/desafio/concluir?id={{desafio.id}}">Concluir</a>
                          <a type="button" class="btn btn-warning disabled" href="">Recompensa</a>
                          <a type="button" class="btn btn-danger disabled" href="">Cancelar</a>
                          {{/if}}
                        </div>
                      </div>

                      <div class="d-none d-sm-flex">
                        <div class="btn-group mx-auto" role="group">
                          {{#if desafio.completed}}
                          <a type="button" class="btn btn-success disabled" href="">Concluir</a>
                          <a type="button" class="btn btn-warning" href="/recompensa?id={{desafio.recompensa}}">Recompensa</a>
                          <a type="button" class="btn btn-danger" href="/desafio/cancelar?id={{desafio.id}}">Cancelar</a>
                          {{else}}
                          <a type="button" class="btn btn-success" href="/desafio/concluir?id={{desafio.id}}">Concluir</a>
                          <a type="button" class="btn btn-warning disabled" href="">Recompensa</a>
                          <a type="button" class="btn btn-danger disabled" href="">Cancelar</a>
                          {{/if}}
                        </div>
                      </div>

                    </li>
                  </ul>
                </div>

              </li>

            </ul>
          </div>
          <!-- /DESAFIO -->

        </div>
      </div>
    </main>
    <!-- /MAIN -->
    
    <!-- FOOTER -->
    <footer class="row no-gutters row-footer">
      <div class="row no-gutters align-items-center w-100">
        <div class="col">

          
          
        </div>
      </div>
    </footer>
    <!-- /FOOTER -->

  </div>
  <!-- /CONTAINER -->

  <!-- jQuery & Bootstrap Bundle (inclui o Popper) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
    crossorigin="anonymous"></script>
</body>

</html>