<!DOCTYPE html>
<html lang="pt-BR">

<head>
  
  {{>head}}

  <title>Bem-vindo ao Projeto Hilbert!</title>
</head>

<body>
  
  <!-- CONTAINER -->
  <div class="container vh-100">
    
    {{>header}}
    
    <!-- MAIN -->
    <main class="row no-gutters row-main">
      <div class="row no-gutters align-items-center justify-content-center w-100">
        <div class="col-12 col-md-10">
          
          {{>userInfo}}

          <!-- DESAFIOS EM ANDAMENTO -->
          <div class="card rounded-0 border-0 w-100 bg-transparent mb-2" id="andamento">

            <div class="card-header rounded-0 bg-dark text-light border-0 h5">
              Desafios em andamento
            </div>

            <ul class="list-group list-group-flush">
            {{#if emptyInProgress}}

              <li class="list-group-item py-0 px-3 bg-dark border-0">
                <div class="card rounded-0 border-dark border-bottom-0 w-100 pb-3 mb-3">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item border-0">
                        <p style="min-height: 150px;">

                          Nenhum desafio restante! Parabéns!
                          
                        </p>
                      </li>
                    </ul>
                </div>
              </li>

            {{else}}
              
              {{#each content}}
                {{#with this}}
                  {{#if completed}}
                  {{else}}
                    <li class="list-group-item py-0 px-3 bg-dark border-0">
                      <div class="card rounded-0 border-dark border-bottom-0 w-100 pb-3 mb-3">
                        <div class="card-header rounded-0 bg-danger text-light border-dark">
                          {{title}}
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item border-0">
                            <p style="min-height: 150px;">
                              {{description}}
                            </p>
                            <a href="/desafio?id={{id}}" class="btn btn-danger">Ver desafio</a>
                          </li>
                        </ul>
                      </div>
                    </li>
                  {{/if}}
                {{/with}}
              {{/each}}

            {{/if}}
            </ul>
            
          </div>

          <!-- DESAFIOS CONCLUÍDOS -->
          <div class="card rounded-0 border-0 w-100 bg-transparent mb-2" id="concluidos">

            <div class="card-header rounded-0 bg-dark text-light border-0 h5">
              Desafios concluídos
            </div>

            <ul class="list-group list-group-flush">
            {{#if emptyCompleted}}

              <li class="list-group-item py-0 px-3 bg-dark border-0">
                <div class="card rounded-0 border-dark border-bottom-0 w-100 pb-3 mb-3">
                  
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item border-0">
                        <p style="min-height: 150px;">

                          Nenhum desafio concluído ainda!
                          
                        </p>
                      </li>
                    </ul>
                </div>
              </li>

            {{else}}
                
              {{#each content}}
                {{#with this}}
                  {{#if completed}}
                    <li class="list-group-item py-0 px-3 bg-dark border-0">
                      <div class="card rounded-0 border-dark border-bottom-0 w-100 pb-3 mb-3">
                        <div class="card-header rounded-0 bg-success text-light border-dark">
                          {{title}}
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item border-0">
                            <p style="min-height: 150px;">
                              {{description}}
                            </p>
                            <a href="/desafio?id={{id}}" class="btn btn-success">Ver desafio</a>
                          </li>
                        </ul>
                      </div>
                    </li>
                  {{/if}}
                {{/with}}
              {{/each}}
                
            {{/if}}
            </ul>
            
          </div>

        </div>
      </div>
    </main>
    <!-- /MAIN -->
    
    <!-- FOOTER -->
    <footer class="row no-gutters row-footer">
      <div class="row no-gutters align-items-center w-100">
        <div class="col">

          
        </div>
      </div>
    </footer>
    <!-- /FOOTER -->

  </div>
  <!-- /CONTAINER -->

  <!-- jQuery & Bootstrap Bundle (inclui o Popper) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
    crossorigin="anonymous"></script>
</body>

</html>