<!DOCTYPE html>
<html lang="pt-BR">

<head>
  
  {{>head}}

  <title>Projeto Hilbert - Recompensa: {{desafio.name}}</title>
</head>

<body>
  
  <!-- CONTAINER -->
  <div class="container vh-100">
    
    {{>header}}
    
    <!-- MAIN -->
    <main class="row no-gutters" style="height: 70%;">
      <div class="row no-gutters align-items-center justify-content-center w-100 h-100">
        <div class="col-12 col-md-10 h-100">
          
          {{>userInfo}}

          <!-- RECOMPENSA -->
          <div class="card rounded-0 border-0 w-100 bg-transparent mb-2 h-100">

            <div class="card-header rounded-0 bg-dark text-light border-0 h5">
              <ul class="nav justify-content-between">
                <li class="nav-item p-0">
                  <p class="text-light px-0 py-2 my-0">Recompensa <strong>"{{desafio.name}}"</strong></p>
                </li>
                <li class="nav-item">
                  <a class="nav-link active px-0" href="/desafio?id={{desafio.id}}">Voltar</a>
                </li>
              </ul>
            </div>
            
            <ul class="list-group list-group-flush h-100">
              <li class="list-group-item pt-0 pb-3 px-3 bg-dark border-0 h-100">
                
                <div class="card rounded-0 border-dark border-bottom-0 w-100 pb-3 h-100">
                  <div class="card-header rounded-0 bg-danger text-light border-dark">
                    <strong>{{desafio.name}}</strong>
                  </div>
                  <ul class="list-group list-group-flush h-100">
                    <li class="list-group-item border-0 d-flex h-100">

                      <iframe 
                        class="mx-auto" 
                        style="overflow-x: hidden;"
                        width="100%" 
                        height="100%"
                        src="{{recompensa.link}}" 
                        title="YouTube video player" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen
                      ></iframe>

                    </li>
                  </ul>
                </div>

              </li>

            </ul>
          </div>
          <!-- /RECOMPENSA -->

        </div>
      </div>
    </main>
    <!-- /MAIN -->

  </div>
  <!-- /CONTAINER -->

  <!-- jQuery & Bootstrap Bundle (inclui o Popper) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
    crossorigin="anonymous"></script>
</body>

</html>